@model Covid19Testing.Models.TblUsers

@{
    ViewData["Title"] = "Edit";
}

<h2>Update User</h2>

@*<h4>TblUsers</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Username" />
            <input type="hidden" asp-for="Id"/> 
            <input type="hidden" asp-for="LockTime" />

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Userrole" class="control-label"></label>
                <select asp-for="Userrole" class="form-control" asp-items="ViewBag.Userrole"></select>

            </div>

            <div class="form-group">
                <label class="control-label">Lock account</label>
                <input asp-for="locked" type="checkbox">

            </div>

            <div class="form-group">
                @*<label asp-for="Locked" class="control-label"></label>
            <input type="checkbox" asp-for="Locked" class="form-control" />*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () {

            $('#locked').click(function () {
                if ($(this).is(':checked')) {
                    $('#LockTime').val('01/01/01');
                } else{
                    $('#LockTime').val('');
                }
            });

        });
    </script>
}
