@model Covid19Testing.Models.TblBiodata

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Biodata</h2>

<div align="right">
    <a asp-action="Index">
        Biodata Search Page
    </a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalGardianName" class="control-label"></label>
                <input asp-for="LegalGardianName" class="form-control" />
                <span asp-validation-for="LegalGardianName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dateofbirth" class="control-label"></label>
                <input asp-for="Dateofbirth" class="form-control" type="date" />
                <span asp-validation-for="Dateofbirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="ViewBag.Gender">
                    <option value="">[Select Gender]</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpidNo" class="control-label"></label>
                <input asp-for="EpidNo" class="form-control" />
                <span asp-validation-for="EpidNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalPhone" class="control-label"></label>
                <input asp-for="LocalPhone" class="form-control" placeholder="Ex: 0000000000" />
                <span asp-validation-for="LocalPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" placeholder="Ex: +3400000000" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResidentialAddress" class="control-label"></label>
                <input asp-for="ResidentialAddress" class="form-control" />
                <span asp-validation-for="ResidentialAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
