
<div id="input-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">whatever</h5>
            </div>
            <div class="modal-body">
                <div id="any-input-error" style="display: none; color: red;">

                </div>

                <label class="control-label">whatever</label><br>
                <input class="form-control" name="any-input" id="any-input" pattern="whatever">

                <div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="input-modal-id">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->